body {
  width: 350px;
  background-color: #dfd9d99d !important;
  padding: 10px;
  text-align: center;
  transition: background-color 0.75s ease;
  font-size: 13px;

  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

#title {
  font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

#caption {
  font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px;
}

.onboarding {
  font-family: sans-serif;
  border-top: solid black 1px;
  font-weight: 500;
  padding-top: 2%;
  font-size: medium;
}

.leethub-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 4px;
  border-radius: 2px;
  background: #d8d3d3;
  outline: none;
  margin: 6px 0;
}

.leethub-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff6c0a;
  cursor: pointer;
  border: none;
}

.leethub-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff6c0a;
  cursor: pointer;
  border: none;
}
